<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"></link>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>Pet Store</title>
</head>
<body>
    <div id="webstore">
        <h1>{{message}}</h1>
        <!-- <button>Checkout {{itemInCart}}</button> -->
        <button v-on:click="showCheckout">
            {{itemInCart}}
            <span class="fa-solid fa-cart-plus"></span>
            Checkout</button>
        <main>
            <div v-if="showProduct">
                <figure>
                    <!-- v-bind directive -->
                    <img v-bind:src="product.image" alt="Cat Image">
                </figure>
                <!-- v-text directive -->
                <h2 v-text="product.title"></h2>
                <!-- <h2>{{product.title}}</h2> -->
                <!-- v-text directive -->
                <p v-text="product.description"></p>
                <!-- <p>{{product.description}}</p> -->
                <p>Price: Rs {{product.price}}</p>
    
                <button v-if="canAddToCart" v-on:click="addItemToCart">Add to Cart</button>
                <div v-else>
                    <button disabled>Add to Cart</button>
                    No more product to add...Inventory Empty!
                </div>
            </div>
            <div v-else>
                <h1>Welcome to the Checkout Page</h1>
            </div>
        </main>
    </div>
<script>
    let webstore = new Vue({
        el: '#webstore',
        data:{
            message: 'Welcome to my Pet Store!',
            product:{
                id:1001,
                title:'Cat Food 25lbs bag',
                description:'Irresistible cat food for your cat',
                price:2000,
                image:'image/cat1.jpg',
                availabilityInventory: 5
            },
            cart:[],
            showProduct: true,
        },
        methods:{
            addItemToCart()
            {
                // if (this.cart.length > this.availabilityInventory) {

                // }
                // else 
                this.cart.push(this.product.id);
            },
            showCheckout()
            {
                if (this.showProduct)
                {
                    this.showProduct = false;
                } else {
                    this.showProduct = true;
                }
            }
        },
        computed:{
            itemInCart:function()
            {
                // return ("(" + this.cart.length + ")") || "";
                // return this.cart.length || "";
                return this.cart.length > 0 ? "(" + this.cart.length + ")" : "";
            },
            canAddToCart()
            {
                return this.product.availabilityInventory > this.cart.length;
            }
        }
    })
</script>
</body>
</html>

<!-- vue js devtools download as extension-->